body {
    font-family: "Sono";
    margin: 0;
   background-color: #F7F7F7;
}

.header {
    background-color: #222222;
    height: 288px;
    padding: 16px 0 0 0;
}

.footer {
    background-color: #222222;
    height: 112px;
    display: flex;
    padding: 16px 0 0 0;
}

.footer-link{
    margin: 0 auto;
    align-self: center;
}

.header-icon {
    margin: 0 auto;
    text-align: center;
}

.header-title {
    color: #FFFFFF;
    font-size: 48px;
    font-weight: bold;
    text-align: center;
    margin: 0 auto;
}

.header-description {
    color: #CFCFCF;
    margin: 4px auto;
    text-align: center;
    max-width: 384px;
}

.wrapper {
    margin-right: auto;
    margin-left: auto;
    max-width: 1024px;
    padding-right: 10px;
    padding-left: 10px;
    margin-top: 32px;
}

.card {
    margin-bottom: 24px;
    padding: 0 5px 5px 5px;
    box-shadow: 0 4px 6px 0 rgba(0, 0, 0, 0.18);
    background-color: #FFFFFF;
}
    .card-description {
    padding: 10px 10px 10px 10px;
    margin: 0 0 0 0;

}
.radio-mode{
    margin: 0px 20px 5px 10px;
    padding: 10px;
}
.dropdown, .selection-text{
    margin: 0px 10px 5px 10px;
}

.attack-chart{
    padding-left: 15px;
}

a {
    color: #CFCFCF;
    background-color: transparent;
    text-decoration: none;
  }
  
  a:hover {
    color: yellow;
    background-color: transparent;
    text-decoration: none;
  }